extends layout

block content

    main 
        div.container-md(style='margin-top: 2rem;')
            .row.justify-content-center
                .col-md-6
                    .card(style="boder-radius: 1rem;")
                        .card-body.p-5
                            form(action="/services/image" method="POST")
                                <h1 class="mb-5 text-center">Image Generator</h1>
                                //- Text fields
                                .form-group
                                    label(for='prompt') Describe your image:
                                    .md-form
                                        input.form-control#prompt(type='text' name='prompt')
                                .form-group
                                    label(for='size') Select Size:
                                    .md-form
                                        select.browser-default.custom-select#size(name='size')
                                            option(value='small') Small
                                            option(value='medium') Medium
                                            option(value='large') Large

                                button.btn.btn-primary.btn-block(type='submit' id="submit") Submit

        
        
        div.container-md(style='margin-top: 2rem;')
            if image 
                .row.justify-content-center
                    .col-md-3
                    .col-md-6.text-center
                        img.img-fluid(src=image, alt="")
                    .col-md-3
                    
           


